In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import zipfile
import json

In [20]:
zf = zipfile.ZipFile('all_data.zip')
q1_df = pd.read_csv(zf.open('Q12019.csv'))
q2_df = pd.read_csv(zf.open('Q22019.csv'))
q3_df = pd.read_csv(zf.open('Q32019.csv'))
q4_df = pd.read_csv(zf.open('Q42019.csv'))

In [21]:
q1_df.head()

,YEAR,QUARTER,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_STATE_ABR,DEST_STATE_NM,PASSENGERS,Unnamed: 9
0,2019,1,CLT,NC,North Carolina,RIC,VA,Virginia,1.0,NaN
1,2019,1,RIC,VA,Virginia,CLT,NC,North Carolina,1.0,NaN
2,2019,1,CLT,NC,North Carolina,RIC,VA,Virginia,1.0,NaN
3,2019,1,RIC,VA,Virginia,CLT,NC,North Carolina,1.0,NaN
4,2019,1,CLT,NC,North Carolina,RIC,VA,Virginia,1.0,NaN

In [22]:
q1_df.ORIGIN_STATE_NM.value_counts()

California                                        777698
Florida                                           757173
Texas                                             539946
New York                                          326195
Virginia                                          232079
Illinois                                          226679
Colorado                                          205435
North Carolina                                    197011
Georgia                                           186959
Arizona                                           185340
Nevada                                            180804
Washington                                        179975
Pennsylvania                                      174227
Michigan                                          148961
Tennessee                                         135915
Massachusetts                                     133538
Missouri                                          132157
Minnesota                                         126603
Ohio                                              125046
New Jersey                                        124783
Hawaii                                            124622
Oregon                                            108267
Utah                                              104549
Louisiana                                         100449
Kentucky                                           86077
Wisconsin                                          76286
Indiana                                            73522
South Carolina                                     73058
Maryland                                           72496
Oklahoma                                           51729
Puerto Rico                                        46407
Alabama                                            45055
Connecticut                                        42863
Nebraska                                           37735
Montana                                            36878
Idaho                                              35495
New Mexico                                         35031
Alaska                                             33631
Iowa                                               33214
Arkansas                                           31714
Rhode Island                                       23700
Maine                                              19130
North Dakota                                       18701
Mississippi                                        16018
Kansas                                             15509
South Dakota                                       13450
New Hampshire                                      13110
U.S. Virgin Islands                                12858
Wyoming                                            12603
Vermont                                            11053
West Virginia                                       5631
U.S. Pacific Trust Territories and Possessions      1388
Name: ORIGIN_STATE_NM, dtype: int64

In [23]:
q1_df.DEST_STATE_NM.value_counts()

California                                        780524
Florida                                           750082
Texas                                             534965
New York                                          330258
Virginia                                          234205
Illinois                                          225007
Colorado                                          201999
North Carolina                                    194305
Georgia                                           185576
Arizona                                           183215
Washington                                        181800
Nevada                                            178034
Pennsylvania                                      175500
Michigan                                          148465
Tennessee                                         136640
Massachusetts                                     135997
Missouri                                          134058
New Jersey                                        127492
Ohio                                              126605
Minnesota                                         126072
Hawaii                                            121885
Oregon                                            109846
Utah                                              102968
Louisiana                                         100597
Kentucky                                           86435
Wisconsin                                          77508
Indiana                                            74025
South Carolina                                     73662
Maryland                                           73645
Oklahoma                                           52813
Alabama                                            45588
Puerto Rico                                        44861
Connecticut                                        43559
Nebraska                                           38392
Montana                                            36435
Idaho                                              35735
Alaska                                             35071
New Mexico                                         34915
Iowa                                               33743
Arkansas                                           32096
Rhode Island                                       24236
Maine                                              19379
North Dakota                                       18814
Mississippi                                        15889
Kansas                                             15709
South Dakota                                       13684
New Hampshire                                      13335
U.S. Virgin Islands                                12748
Wyoming                                            12148
Vermont                                            11201
West Virginia                                       5717
U.S. Pacific Trust Territories and Possessions      1315
Name: DEST_STATE_NM, dtype: int64

In [24]:
cali_dest = q1_df[q1_df["DEST_STATE_NM"] == 'California']

In [25]:
cali_dest

,YEAR,QUARTER,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_STATE_ABR,DEST_STATE_NM,PASSENGERS,Unnamed: 9
841,2019,1,CLT,NC,North Carolina,SAN,CA,California,2.0,NaN
842,2019,1,CLT,NC,North Carolina,SAN,CA,California,4.0,NaN
843,2019,1,CLT,NC,North Carolina,SAN,CA,California,1.0,NaN
844,2019,1,CLT,NC,North Carolina,SAN,CA,California,9.0,NaN
845,2019,1,CLT,NC,North Carolina,SAN,CA,California,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...
6508626,2019,1,SAT,TX,Texas,SNA,CA,California,1.0,NaN
6508628,2019,1,SAT,TX,Texas,SNA,CA,California,1.0,NaN
6508630,2019,1,SAT,TX,Texas,SNA,CA,California,1.0,NaN
6508632,2019,1,SAT,TX,Texas,SNA,CA,California,1.0,NaN
6508634,2019,1,SAT,TX,Texas,SNA,CA,California,1.0,NaN

In [26]:
# number of passengers from Cali per deestination state in Q1

cali_count_pass = cali_dest.groupby('ORIGIN_STATE_NM').count()['PASSENGERS']

cali_pass = pd.DataFrame({
    'Total Passengers': cali_count_pass
})

In [27]:
cali_pass

                                                Total Passengers
ORIGIN_STATE_NM
Alabama                                                     4484
Alaska                                                      3764
Arizona                                                    25549
Arkansas                                                    3664
California                                                 83895
Colorado                                                   27402
Connecticut                                                 4352
Florida                                                    56438
Georgia                                                    19110
Hawaii                                                     29797
Idaho                                                       8360
Illinois                                                   27040
Indiana                                                     8251
Iowa                                                        3643
Kansas                                                      1750
Kentucky                                                    8600
Louisiana                                                  11545
Maine                                                       1089
Maryland                                                   10372
Massachusetts                                              17106
Michigan                                                   15463
Minnesota                                                  13612
Mississippi                                                 1306
Missouri                                                   16116
Montana                                                     5769
Nebraska                                                    4794
Nevada                                                     24300
New Hampshire                                                675
New Jersey                                                 17161
New Mexico                                                  6146
New York                                                   35609
North Carolina                                             18526
North Dakota                                                1527
Ohio                                                       12941
Oklahoma                                                    6561
Oregon                                                     26424
Pennsylvania                                               18793
Puerto Rico                                                 2668
Rhode Island                                                1615
South Carolina                                              5382
South Dakota                                                1341
Tennessee                                                  14175
Texas                                                      69955
U.S. Pacific Trust Territories and Possessions               253
U.S. Virgin Islands                                          421
Utah                                                       20288
Vermont                                                      931
Virginia                                                   29620
Washington                                                 41648
West Virginia                                                283
Wisconsin                                                   8220
Wyoming                                                     1790

In [45]:
# I ran a quick cleaning code.  I used the str() conatins method as it logically makes the most sense to me.  
# I tried various way to do both in the same line of code but I couldn't get it to work
df_cleanQ1 = q1_df[~q1_df.DEST_STATE_NM.str.contains("U.S.")]
df_cleanQ1 = df_cleanQ1[~q1_df.DEST_STATE_NM.str.contains("Rico")]
df_cleanQ1.head()
# Verifying the cleaning
df_cleanQ1.DEST_STATE_NM.value_counts()

C:\Users\thejg\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

California        777182
Florida           740510
Texas             530507
New York          324471
Virginia          231475
Illinois          222279
Colorado          200776
North Carolina    192636
Georgia           183690
Arizona           182494
Washington        181093
Nevada            177327
Pennsylvania      173292
Michigan          146930
Tennessee         135724
Massachusetts     133178
Missouri          132839
Ohio              125101
New Jersey        124821
Minnesota         124560
Hawaii            121594
Oregon            109450
Utah              102400
Louisiana          99809
Kentucky           85634
Wisconsin          76830
Indiana            73286
South Carolina     73148
Maryland           72351
Oklahoma           52502
Alabama            45354
Connecticut        42452
Nebraska           38185
Montana            36393
Idaho              35639
Alaska             35012
New Mexico         34803
Iowa               33445
Arkansas           31936
Rhode Island       23843
Maine              19153
North Dakota       18742
Mississippi        15812
Kansas             15599
South Dakota       13618
New Hampshire      13203
Wyoming            12136
Vermont            11014
West Virginia       5678
Name: DEST_STATE_NM, dtype: int64

In [46]:
#Removing useless column from dataframe
Cleanest_DF = df_cleanQ1[['YEAR', 
                          'QUARTER', 
                          'ORIGIN', 
                          'ORIGIN_STATE_ABR', 
                          'ORIGIN_STATE_NM',
                          'DEST', 
                          'DEST_STATE_ABR', 
                          'DEST_STATE_NM', 
                          'PASSENGERS']]

#Cleaning up the headers for each column

Cleanest_DF = Cleanest_DF.rename(columns={'YEAR': 'Year', 
                                          'QUARTER': 'Quarter', 
                                          'ORIGIN_STATE_ABR': 'Abreviated State Name', 
                                          'ORIGIN_STATE_NM': 'State Name', 
                                          'DEST': 'Destination',
                                          'DEST_STATE_NM': 'State Destination',
                                          'DEST_STATE_ABR': 'Abreviated State Destination', 
                                          'PASSENGERS': 'Passengers'})
Cleanest_DF.head()

,Year,Quarter,ORIGIN,Abreviated State Name,State Name,Destination,Abreviated State Destination,State Destination,Passengers
0,2019,1,CLT,NC,North Carolina,RIC,VA,Virginia,1.0
1,2019,1,RIC,VA,Virginia,CLT,NC,North Carolina,1.0
2,2019,1,CLT,NC,North Carolina,RIC,VA,Virginia,1.0
3,2019,1,RIC,VA,Virginia,CLT,NC,North Carolina,1.0
4,2019,1,CLT,NC,North Carolina,RIC,VA,Virginia,1.0